.gitkeep

# =========================================================
# Python
# =========================================================

__pycache__/
*.py[cod]
*.pyo
*.pyd

# pytest
.pytest_cache/

# mypy
.mypy_cache/

# Ruff
.ruff_cache/

# =========================================================
# Virtual Environment
# =========================================================

.venv/
.venv_gpu312/
venv/

# =========================================================
# IDE
# =========================================================

.vscode/
.idea/

# =========================================================
# OS
# =========================================================

.DS_Store
Thumbs.db

# =========================================================
# Logs
# =========================================================

logs/
*.log

# =========================================================
# Temp
# =========================================================

temp/
tmp/

# =========================================================
# Data
# =========================================================

data/raw/thumbnails/

# Whisper / AI outputs
data/processed/transcripts/
data/processed/embeddings/

# Large exports
data/exports/

*movie_ids.csv
*movie_info_file.csv

# =========================================================
# Media
# =========================================================

*.mp4
*.mkv
*.webm
*.mp3
*.wav
*.flac

# =========================================================
# AI / ML
# =========================================================

*.pt
*.pth
*.onnx
*.bin
*.safetensors

# =========================================================
# Jupyter
# =========================================================

.ipynb_checkpoints/

# =========================================================
# Environment Variables
# =========================================================

.env

# =========================================================
# Secrets
# =========================================================

secrets.json
credentials.json
service_account.json